body {
  background-color: #35604c;
}

.main-container {
  display: flex;
  flex-direction: row;
  .left-side-bar {
    width: 60%;
    min-width: 900px;
    max-width: 900px;
    background-color: #f2e3da;
    height: 850px;
    margin: 120px 0px 100px 80px;
    .nav-container {
      width: 100px;
      display: flex;
      padding: 10px;
      margin: 30px;
      list-style-type: none;
      .site-name {
        margin-top: 15px;
        color: black;
        font-size: 20px;
        span {
          color: black;
        }
      }
      .oval-image {
        width: 160px;
        height: 80px;
        color: black;
        position: absolute;
        left: 95px;
        transform: rotate(-35deg);
      }
      :nth-child(3) {
        margin-left: 60px;
      }
      div {
        display: flex;
        margin-left: 240px;
        img {
          margin-top: 10px;
          width: 30px;
          height: 30px;
        }
        :nth-child(3) {
          margin-left: 0px;
        }
      }
      a {
        padding: 15px 35px;
        margin-left: 20px;
        position: relative;
        text-decoration: none;
        position: relative;
        color: #af9687;
        // :after {
        //   content: "";
        //   width: 25%;
        //   position: absolute;
        //   text-align: center;
        //   left: 2.2em;
        //   bottom: 5px;
        //   border-width: 0 0 1px;
        //   border-style: solid;
        // }
      }
    }
    .bottom-title {
      font-size: 200px;
      letter-spacing: 20px;
      opacity: 0.4;
      font-family: "Six Caps", sans-serif;
      display: flex;
      margin-top: 2em;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      // position: relative;
    }
    .lip-img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      .lip-image {
        height: 300px;
        position: absolute;
        bottom: 0;
        opacity: 0.8;
      }
    }
  }
  .side-nav-container {
    transform: rotate(-270deg);
    .side-nav-link-container {
    }
  }
  .right-side-bar {
    // width: 25%;
    min-width: 500px;
    max-width: 500px;
    background-color: white;
    margin: 120px 80px 100px 0px;
    div {
      position: relative;
      display: flex;
      flex-direction: column;
      .top-square {
        height: 400px;
        background-color: #ead1c2;
      }
      .bottom-square {
        height: 450px;
        background-color: #ceb2a1;
        .cart-link {
          margin-top: 23em;
          text-align: center;
          color: white;
          text-decoration: none;
          position: relative;
        }
        :after {
          content: "";
          width: 20%;
          position: absolute;
          text-align: center;
          right: 200px;
          bottom: -10px;
          border-width: 0 0 1px;
          border-style: solid;
        }
      }
      div {
        display: flex;
        justify-content: center;
        img {
          position: absolute;
          bottom: 100px;
          right: 6em;
        }
      }
    }
  }
}
